@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --text-custom-md: 14px;
    --text-custom-lg: 16px;
    --text-custom-xl: 32px;

}

* {
    font-family: "Montserrat", sans-serif;
}