@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --text-custom-md: 14px;
    --text-custom-lg: 16px;
    --text-custom-xl: 32px;


}

h1, p, a , button{
    font-family: "Montserrat", sans-serif;
}